@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');
@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Prata", serif;
}


@theme {
  --color-primary: #B38D70;
}